<html>
  <head>
    <meta charset="utf-8" />
    <title>Success</title>
    <script src="/static/jsQR.js"></script>
    <link rel="stylesheet" href="https://watercss.kognise.dev/dist/light.css" />
    <style>
      body{
        width:90%
        
      }
      input{
          font-size: 2em;
        }
    </style>
  </head>
  <body>
    <div style="text-align: center;">
      <h1>
        ✅Success
      </h1>
      <h3 style="margin-block-end: 0em;">
        You've been checked in.
      </h3>
    </div>
  </body>
</html>
