<html>
  <head>
    <meta charset="utf-8" />
    <title>Success</title>
    <script src="/static/jsQR.js"></script>
    <style>
      body{
        width:90%
      }
      input{
          font-size: 2em;
        }
    </style>
    <link rel="stylesheet" href="https://watercss.kognise.dev/dist/light.css" />
  </head>
  <body>
    <div style="text-align: center;">
      <h1>
        ✅Success
      </h1>
      <h3>
        You've been checked out and your contacts have been matched.
      </h3>
      <h3 style="margin-block-end: 0em;">
        If you meant to check in this means that you had not checked out of your last visited place, please go back and check in.
      </h3>
      
    </div>
  </body>
</html>
