<html>
  <head>
    <meta charset="utf-8" />
    <title>More info needed</title>
    <script src="/static/jsQR.js"></script>
    <style>
      body{
        width:90%
      }
      input{
          font-size: 2em;
        }
    </style>
    <link rel="stylesheet" href="https://watercss.kognise.dev/dist/light.css" />
  </head>
  <body>
    <div style="text-align: center;">
      <h1>
        Almost there
      </h1>
      <h3 style="margin-block-end: 0em;">
        We see this is your first time, we need a few more details.
      </h3>
      <span id="outputData">
        <form action="registerandcheckin" method="POST">
          <input
            type="text"
            name="storeID"
            id="storeID"
            value="{{ storeID }}"
            style="display: none;"
          /><br /><input
            type="text"
            style="text-align: center; width:100%; font-size: 2em display: none;"
            name="idNumber"
            id="idNumber"
            placeholder="ID Number"
            value="{{ idNumber }}"
          />
          <input
            type="text"
            style="text-align: center; width:100%; font-size: 2em"
            name="name"
            id="name"
            placeholder="Full Name"
            required
          />
          <input
            type="text"
            style="text-align: center; width:100%; font-size: 2em"
            name="address"
            id="address"
            placeholder="Street Address"
            required
          />
          <input
            type="text"
            style="text-align: center; width:100%; font-size: 2em"
            name="phone"
            id="phone"
            placeholder="Phone Number"
            required
          />
          <input
            type="submit"
            style="width:100%; font-size: 2em"
            value="Finish Checking In"
            style="width: 20%;"
          />
        </form>
      </span>
    </div>
  </body>
</html>
